<div class="full-container">
    <div class="half-container">
        <div class="contain">
            <i (click)="onSubmit()" [class]="eyeIconClass"></i>
            <div class="centered">
                <div class="right">
                    <input [type]="passwordFieldType" value="12345" />
                </div>
                <div class="left">
                    <input [type]="passwordFieldType" value="12345" />
                </div>
            </div>
        </div>
    </div>
</div>
