.full-container{
    background-image: linear-gradient(to right, rgb(19, 6, 6) , rgb(23, 23, 8));
   height: 400px;
   width: 50%;
}
.half-container {
   background-color: aqua;
   width: 400px;
   height: 300px;
  position: relative;
  top: 50px;
  left: 100px;
  bottom: 50px;
    
}
.contain {
    display: flex;
    justify-content: space-between;
    
  
}
.right{
  
    
}